* {
  padding: 0;
  margin: 0;
}

@mixin flex($direction) {
  display: flex;
  flex-direction: $direction;
}

html,
body {
  height: 100%;
  @include flex(column);
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  -webkit-text-size-adjust: 100%; //fix iOS first loading with bigger fonts
}
a {
  color: black;
}
.text-center {
  text-align: center;
}
.content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 5px 5px 0 5px;
}
.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
